i {
  height: 100%;
  width: 100%;
}

.box {
  border-radius: 10%;
  float: left;
  width: 100%;
  background: #EEE;
  position: relative;
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.container {
  max-width: 650px;
  padding-top: 50px;
  text-align: center;
}

.col-xs-4 {
  padding: 0.4vh 0.4vh;
}
